# Environment Variables for Vercel
# Set these in: Vercel Dashboard → Project → Settings → Environment Variables

GCP_TYPE=service_account
GCP_PROJECT_ID=project-pengolahan-data
GCP_PRIVATE_KEY_ID=34533cce57f118b5cf283884b7d384715e354053
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GCP_CLIENT_EMAIL=bayuproject@project-pengolahan-data.iam.gserviceaccount.com
GCP_CLIENT_ID=102835442354867938952
